$primary-color: red;
$secondary-color: black;
$background-color: wheat;

.colors {
    background-color: $background-color;
    color: $primary-color;
    accent-color: $secondary-color;
}

//Lista di colori
$colors: #ff00ff, #00ff00, #0000ff, #ff9900;


@each $color in $colors {
    
    $colo: index($colors, $color);
    .color-#{$colo} {
        background-color: $color; 
        }
}