/*FLEX CONTAINER*/

.flex-items > div {
    padding: 10px;
    margin: 10px;
    background-color: aquamarine;
}

.flex-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex-item-1 {
    flex-shrink: 0.5;
    width: 70px;
  }

.flex-item-2 {
    align-self: flex-start;
}

.flex-item-3 {
    align-self: flex-end;
}

/*GRID CONTAINER*/
.grid-container {
    display: grid;
}

.grid-container div {
    background-color: palegreen;
    padding: 20px;
    border: 1px solid black;
  }

  .grid-item-1 {
    grid-row: 1 / span 2;
}

  .grid-item-8 {
    grid-column: 2 / span 2;
  }

  /*GRID CONTAINER 2*/
  .grid-container2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 1fr 3fr;
    justify-items: center;
    align-items: center;
  }

  .grid-container2 div {
    background-color: rebeccapurple;
    padding: 20px;
    border: 1px solid black;
  }

  /*GRID CALCOLATRICE*/
.grid-calcolatrice {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.grid-calcolatrice div {
  background-color: grey;
  padding: 20px;
  border: 1px solid white;
  text-align: center;
}

.grid-calcolatrice .rosybrown {
  background-color: rosybrown;
}

.grid-calcolatrice .blue {
  background-color: lightskyblue;
}

/*SOLO MOBILE*/
@media screen and (max-width: 768px) {
  body {
    background-color: blue;
  }
}
