:root {
    --colore-principale: red;
    --trasparenza:20px;
}

* {
    text-align: right;
    color: var(--colore-principale);
}

h1 {
    color: red;
}

h2 {
    color: orange;
}

h3 {
    color: yellow;
}

h4 {
    color: greenyellow;
}

h5#titolo-5 {
    color: blue;
    background-color: black;
}

h6 {
    color: purple;
}

p {
    color: blue;
    text-align: right;
}

.test {
    font-size: 30px;
}

.verde {
    color: green;
}

.verdeacqua {
    background-color: aquamarine;
}

.centro {
    text-align: center;
}

h2,
h4,
h6 {
    background-color: antiquewhite;
}

a:hover {
    color: black;
}

ul>li:last-child {
    color: cornflowerblue;
}

p {
    color: deeppink;
}

.myclass-2 {
    color: orchid;
}

#myid {
    color: turquoise;
}

.myclass2 {
    color: dodgerblue;
    text-align: left;
}

.myclass-4 {
    padding: 50px;
    margin: 25px;
    border: 10px dotted limegreen;
}

li {
    padding: 55px;
    margin: 30px;
    border: 15px;
    display: inline-block;
}

.span-1 {
    border: 10px;
    background-color: indianred;
    height: 250px;
    width: 300px;
    display: inline;
}

.span-2 {
    border: 10px;
    background-color: indianred;
    height: 250px;
    width: 300px;
    display: inline-block;
}

.span-3 {
    border: 10px;
    background-color: indianred;
    height: 250px;
    width: 300px;
    display: block;
}

.hide {
    display: none;
}

.myclass-5 {
    display: block;
    float: left;
    background-color: aliceblue;
    padding: 20px;
    margin: 20px;
    width: 200px;
}

.img-right {
    display: block;
    float: right;
    background-color: aliceblue;
    padding: 20px;
    margin: 20px;
    width: 200px;
}

.p-sotto {
    display: block;
    float: none;
    background-color: blue;
    padding: 15px;
    margin: 15px;
    border: 10px solid yellow;
    clear: both;
}

.col-1 {
    display: inline-block;
    padding: 55px;
    margin: 30px;
    border: 15px;
}

.col-2 {
    display: inline-block;
    padding: 55px;
    margin: 30px;
    border: 15px;
}

.col-3 {
    display: inline-block;
    padding: 55px;
    margin: 30px;
    border: 15px;
}

.navbar {
    position: sticky;
    top: 35px;
    display: inline-block;
    background-color: violet;
    text-align: center;
    margin: 25px;
    padding: 30px;
    border: 15px double black;
    width: 700px;
}

.sinistra {
    display: block;
    float: left;
}

.centro {
    display: block;
    text-align: center;
}

.destra {
    display: block;
    float: right;
}

p {
    color: rgb(255, 0, 0);
}

p {
    color: #ff0000;
}

p.myclass-3 {
    color: rgba(255, 0, 0, 0.7);
}

p {
    color: red;
}

footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
    margin: 350px;
}

.container {
    position: relative;
}

.quadrato {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 2px solid salmon;
    width: 150px;
    height: 150px;
}

.quadrato-fisso {
    position: absolute;
    border: 2px solid salmon;
    width: 150px;
    height: 150px;
    margin: 15px;
    padding: 15px;
    bottom: 0;
    right: 0;
    margin-right: 10px;
}

.elemento-padre-1,
.elemento-padre-2 {
    width: 500px;
    height: 500px;
}

.percentuale {
    width: 50%;
    height: 50%;
    border: 2px solid peru;
}

.pixel {
    width: 200px;
    height: 200px;
    border: 2.5px solid rosybrown;
}

.rem {
    font-size: 7rem;
    padding: var(--trasparenza);
}

.em {
    font-size: 7em;
    padding: var(--trasparenza);
}

.flex-container {
    display: flex;
}