

.flex-items > div {
    padding: 10px;
    margin: 10px;
    background-color: aquamarine;
    width: 100px;
}

.flex-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/*
.flex-item-1 {
    flex-shrink: 0.5;
}*/

.flex-item-2 {
    flex-basis: 75px;
}

.flex-item-3 {
    flex-grow: 3;
}