* {
    text-align: right;
}

h1 {
    color: red;
}

h2 {
    color: orange;
}

h3 {
    color: yellow;
}

h4 {
    color: greenyellow;
}

h5#titolo-5 {
    color: blue;
    background-color: black;
}

h6 {
    color: purple;
}

p{
    color: blue;
    text-align: right;
}

.test {
    font-size: 30px;
}

.verde {
    color: green;
}

.verdeacqua {
    background-color: aquamarine;
}

.centro {
    text-align: center;
}

h2, h4, h6 {
    background-color: antiquewhite;
}

a:hover {
    color: black;
}